<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="page-body"> <!--Page body, for css etc og etc-->
        <div class="container">
            <div class="title">
                <h1>KA v2.1 ADMIN PANEL</h1>
                <h2>RUBRIKERT UAUTORISERT PERSONELL VIL BLI SPORET, LOKALISERT OG ARRESTERT<h2>
            </div>  

            divisibleby

            <div class="wrapper flex"> 
                <div class="PanelNav flex">
                    <h4> REDIRECTS </h4>
                    <a href="/index" class="NavMain Nav ">Index Home</a>
                </div>
            </div>



            <main>

            </main>

            <footer class="footer"> KubenAnarchy © 2024. ALV. </footer>

        </div>
    </div>
</body>

</html>