<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- HUSK Å BYTTE FOR UBUNTU "static/style.css" -->
    

</head>

<body>
    <div class="page-body"> <!--Page body, for css etc og etc-->
        <div class="container">
            <div class="title">
                <h1>Kuben Anarchy</h1>
            </div>
            
            <a href="/adminlogin" class="NavMain Nav">ADMINLOGIN</a>
            

            <div class="wrapper flex">
                <div class="PanelNav flex">
                    <a href="/index" class="NavMain Nav">Home</a>
                    <a href="/shop" class="Nav TXT"> <span>Shop</span> </a>
                    <a href="/modissues" class="Nav TXT"> <span>Modifications & Issues</span> </a>
                    <a href="/about" class="Nav TXT">About</a>

                </div>
            </div>

            <main>
                <section class="content">
                    <div>
                        <time datetime="12-13-2024">12 December 2024</time>
                        <h2>Full release av serveren</h2>
                        <P>Endelig er dagen kommet, Vi i KubenAnarchy Laget er stolt til å si at Kuben Anarchy sin
                            minecraft server er endelig ute</P>
                        <P>Dette er en stor dag for oss vi har har jobbet hardt og lenge på dette for en uproblematisk
                            release, Bli med idag på ved å connecte med IP: </P>
                    </div>
                </section>


                <aside class="sidebar">
                    <div class="server-info">
                        <h3>Kuben anarchy</h3>
                        <p>Kuben anarchy er en server laget i 2024 med en verden som
                            aldri resetter, som har pvp med en ingen regler med minimum
                            modifikasjoner</p>
                        <p><strong>{{ players }} Playing right now</strong></p> <!-- henter data fra query.py -->
                        <p>Click the IP address below to copy:</p>
<!--  -->
                        <div>
                            <button onclick="copyToClipboard('IP HER')">192.301.999.0</button> <!-- PUT IP TIL SERVEREN HER  -->
                            <script src="../static/clipboard.js"></script>
                        </div>

                    </div>
                </aside>
            </main>

            <footer class="footer"> KubenAnarchy © 2024. ALV. </footer>

        </div>
    </div>
</body>

</html>