<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- HUSK Å BYTTE FOR UBUNTU "static/style.css" -->
</head>

<body>
    <div class="page-body"> <!--Page body, for css etc og etc-->
        <div class="container">
            <div class="title">
                <h1>Kuben Anarchy</h1>
            </div>

            <div class="wrapper flex">
                <div class="PanelNav flex">
                    <a href="/index" class="Nav TXT">Home</a>
                    <a href="/shop" class="Nav TXT"> <span>Shop</span> </a>
                    <a href="/modissues" class="NavMain Nav"> <span>Modifications & Issues</span> </a>
                    <a href="/about" class="Nav TXT">About</a>

                </div>
            </div>



            <main>
                <section class="content">
                    <div>

            </main>

            <footer class="footer"> KubenAnarchy © 2024. ALV. </footer>

        </div>
    </div>
</body>

</html>