<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/shop.css"> <!-- HUSK Å BYTTE FOR UBUNTU "static/style.css" -->
</head>

<body>
    <div class="page-body"> <!--Page body, for css etc og etc-->
        <div class="container">
            <div class="title">
                <h1>Kuben Anarchy</h1>
            </div>
            <div class="wrapper flex">
                <div class="PanelNav flex">
                    <a href="/index" class="Nav TXT">Home</a>
                    <a href="/shop" class="NavMain Nav"> <span>Shop</span> </a>
                    <a href="/modissues" class="Nav TXT"> <span>Modifications & Issues</span> </a>
                    <a href="/about" class="Nav TXT">About</a>

                </div>
            </div>

            <main>
                <section class="content">
                    <div>
                        <h2>test</h2>


                        <h2>Produkter</h2>
                        <div id="products">
                            <div class="product">
                                <span>Test2 - $10</span>
                                <button onclick="addToCart('Test2', 10)">Add to Cart</button>
                            </div>
                            <div class="product">
                                <span>Test1 - $15</span>
                                <button onclick="addToCart('Test1', 15)">Add to Cart</button>
                            </div>
                        </div>

                        <h2>Cart</h2>
                        <div class="cart" id="cart"></div>

                        <input type="text" id="username" placeholder="Enter your name">
                        <button onclick="saveCart()">Save Cart</button>
                        <script src="../Backend/cart.js"></script>



            </main>

            <footer class="footer"> KubenAnarchy © 2024. ALV. </footer>

        </div>
    </div>
</body>

</html>